<!DOCTYPE html>
<html>
<head>
    <title>Squat Form Masterclass - Gym_Era</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container mt-5">
        <h2>▶️ Squat Form Masterclass</h2>
        <div class="ratio ratio-16x9 mb-4">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID" title="Squat Form" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>Key Points:</h4>
                <ul>
                    <li>Feet shoulder-width apart</li>
                    <li>Chest up, back straight</li>
                    <li>Knees track over toes</li>
                    <li>Drive through heels on ascent</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Recommended Sets</h5>
                        <p>3 sets of 10 reps</p>
                        <p>Rest: 90 seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>